<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="TestMode" value="Y"/>
    <add key="IsSiteUnderMaintenance" value="N"/>
    <add key="SecurityToken" value="1234"/>
    <add key="UserLiveESolution" value="Y"/>
    <add key="ESolutionUrl" value="https://www.cambridge.ca/"/>
    <add key="TokenPart1" value="RA"/>
    <add key="EncryptionKey" value="ra_12345678910"/>
    <add key="EncryptionSalt" value="0x1234567812345678"/>
    <add key="TokenDuration" value="36"/>
    <add key="AcceptedUrlList" value="localhost|192.168.2.12|online.cambridge.ca|demo.randomaccess.ca"/>
    <add key="AuthMode" value="DB"/>
    <add key="ServiceUrl" value="http://localhost:23762/Services/ServiceMain.svc/json/"/>
    <add key="PublicUsername" value="testuser"/>
    <add key="PublicPassword" value="testuser"/>
    <!-- 
    <add key="ESolutionUrl" value="https://www.kitchener.ca/"/>
    <add key="ESolutionUrl" value="https://www.cambridge.ca/"/>


    <add key="ServiceUrl" value="http://localhost:23762/Services/ServiceMain.svc/json/"/>
    <add key="ServiceUrl" value="http://demo.randomaccess.ca/amanda/api_fw/Services/ServiceMain.svc/json/"/>
    
  -->
  </appSettings>
  <log4net>
    <!--Define some output appenders-->
    <appender type="log4net.Appender.RollingFileAppender" name="WebUI">
      <file value="App_Data\RA.AMANDA.Portal.UIFW.log.txt"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="ConversionPattern" value="%n----------%n%d{yyyy-MM-dd HH:mm:ss} [%-5p] - [Thread:%-3t] - [%m]%n"/>
      </layout>
    </appender>
    <logger name="Amanda.Portal">
      <level value="All"/>
      <maximumfilesize value="256KB"/>
      <param value="DEBUG" name="Threshold"/>
      <appender-ref ref="WebUI"/>
    </logger>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>

</configuration>
