
/*---Hide items from esolution---*/

    #intBgImage  
    {
	    display: none; 
    }

    #printLink
    {
        display:none !important; 
    }

    #Share
    {
        display:none !important; 
    }


/*--------------------------------------------*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

div.eventdetailscontent{
    border:1px solid #aaaaaa;
    min-height:500px;  
}


  .sortorder:after {
    content: '\25b2';
  }
  .sortorder.reverse:after {
    content: '\25bc';
  }

/*---------public page------------*/
div.pageheader
{
    color:#0078AE;
    font-weight:bold;
    font-size:1.3em;  
}

/* 	-----------------------------------------------------
	------------------ Content Styles -------------------
	----------------------------------------------------- */
	.msg-content {padding:30px 0; border-top:1px solid #e9e9e9;}
	.msg-content .left-content {width:65%; float:left;}
	.msg-content .right-content {width:30%; float:right; margin-top:75px;}
	.msg-content .right-content #contactMainContainer1 .contactHeaderTitle {padding-left: 2.5rem; background-image: url(../images/structure/icon-contact.svg); background-size: auto 2rem; background-repeat:no-repeat;}
	.msg-content .right-content #contactMainContainer1 .contactFooter img {display:block; margin-right:5px;}
	
	.img-left {float:left; margin:10px 20px 10px 0;}
	.img-right {float:right; margin:10px 0 10px 20px;}
	
	.cal-content {padding:10px 0 30px 0;}
	.cal-content img {max-width:100%; height:auto; display:block;}

	.reg-content {padding:30px 0; border-top:1px solid #e9e9e9;}
	.reg-content h2 {font-size:30px; color:#0078ae; padding:0; margin:0;}
	.reg-content h5 {font-size:18px; font-weight:700; padding:10px 0 0 0; margin:0;}
	.reg-content h6 {font-size:14px; font-weight:400; padding:0; margin:0;}
	
	.regleft-content {width:68%; float:left; padding:20px 0;}
	.regleft-content .top {background-color:#519ac5; border:1px solid #e7e7e7; border-width:1px 1px 0 1px; min-height:43px; padding:10px 20px; font-weight:700; line-height:22px; color:#FFFFFF;}
	.regleft-content .mid {background-color:#FFFFFF; border:1px solid #e7e7e7; border-width:0 1px 1px 1px; padding:14px;}
	.regleft-content .mid table.table01 {margin:0; padding:0; width:100%;}
	.regleft-content .mid table.table01 th {
        font-weight:100 ;
        border-bottom:2px solid #cccccc;  
        font-size:.8em;/*10px*/ 
        text-align:left; 
        _background-color:#EAECEF;  /*8bb093,CACACA, C8DDCA*/
        color :#000000;/*516600*/
        padding:5px 2px 5px 3px;

	}
	.regleft-content .mid table.table01 td {
        font-size:.8em;/*10px*/ 
        color:#414141; 
        vertical-align:middle; 
        text-align:left;
        padding:10px 3px 10px 3px;
        border-bottom:1px solid #cccccc;  

	}
    .regleft-content .mid table.table01 td div.itemname{font-size:1em;color:#0078ae; font-weight:700 ; }
	.regleft-content .mid input[type="text"], .regleft-content .mid input[type="email"], .regleft-content .mid input[type="tel"]{margin:0; padding:10px; width:100%; height:auto; background-color:#FFFFFF; border:1px solid #dcdcdc; font-size:15px; font-weight:400; color:#414141;}

table.table02 {width: 100%;}
table.table02, table.table02 td {border-collapse:collapse;border-width:0px;}
table.table02 td {padding:5px 3px 5px 3px; font-size:.8em;  }

    div.checkout {margin:0; padding:10px 20px 10px 10px; width:130px; margin-left:40%;  height:auto; background:#FFFFFF url(../images/btn-arrow.jpg) no-repeat right; border:none; font-size:18px; font-weight:700; color:#0d75a4; cursor:pointer;}

	.regleft-content .bot {padding:10px 20px; text-align:center;}
	.regleft-content .bot input[type="submit"] {margin:0; padding:10px 20px 10px 10px; width:auto; height:auto; background:#FFFFFF url(../images/btn-arrow.jpg) no-repeat right; border:none; font-size:18px; font-weight:700; color:#0d75a4; cursor:pointer;}
	
	.regright-content {width:30%; float:right; padding:20px 0;}
	.regright-content .white-box {background-color:#FFFFFF; box-shadow:0 0 7px rgba(0,0,0,0.08); padding:1.5em; text-align:center;}
	.regright-content .white-box p {font-size:14px; font-weight:700; color:#0d75a4; padding:0; margin:0;}
	.regright-content .white-box p small {font-size:10px; color:#3b3b3b; display:block;}
	.regright-content .white-box h6 {font-size:13px; font-weight:700; line-height:20px; color:#3b3b3b; text-transform:uppercase; background-color:#dcc283; padding:5px; margin:5px 0;}
	.regright-content .white-box ul {margin:0 auto !important; padding:0 0 10px 0 !important; list-style:none; width:252px;}
	.regright-content .white-box ul li {margin:1px !important; padding:0; width:12px; height:14px; float:left;}


	.registrat-information {background-color:#FFFFFF; border:0px solid #e7e7e7; margin:10px auto;}
	.registrat-information .heading {background-color:#519ac5; min-height:42px; padding:10px 15px; font-size:18px; font-weight:700; line-height:22px; color:#FFFFFF;}
	.registrat-information .customer-information {padding:15px;border:1px solid #e7e7e7;}
	.registrat-information .customer-information table {margin:0; padding:0; width:100%;}
	.registrat-information .customer-information table td {padding:6px; font-size:15px; font-weight:700; color:#414141; vertical-align:middle;}
	.registrat-information .customer-information input[type="text"], .registrat-information .customer-information input[type="email"], .registrat-information .customer-information input[type="tel"] {margin:0; padding:10px; width:100%; height:auto; background-color:#FFFFFF; border:1px solid #dcdcdc; font-size:15px; font-weight:400; color:#414141;}
	
	.registrat-information .shoping-bag-box {min-height:44px; border-top:0px solid #e7e7e7; position:relative; padding:10px 20px 20px 20px; font-weight:700; line-height:22px; color:#545454; text-align:center;}
	.registrat-information .shoping-bag-box .edit-bag {float:right; font-weight:400; line-height:12px; color:#FFFFFF; text-transform:uppercase;background:#337ab7;padding:10px 15px 10px 22px; cursor:pointer;}
	.registrat-information .shoping-bag-box .edit-bag a {color:#FFFFFF; display:block; padding:5px 5px 5px 22px; background:#337ab7 url(../images/icon-edit.png) no-repeat left;}
	
	.registrat-information .cart-information-main {border:1px solid #e7e7e7;margin-bottom:15px;}

	.registrat-information .cart-information {padding:5px 15px; border-top:1px solid #e7e7e7;}
	.registrat-information .cart-information table {margin:0; padding:0; width:100%;}
	.registrat-information .cart-information table td {padding:5px; font-size:15px; font-weight:700; color:#7b7b7b; vertical-align:middle;}
	.registrat-information .cart-information table td strong {color:#000000;}
	.registrat-information .cart-information table td a {color:#0078ae;}
	.registrat-information .participant-information {padding:20px;}
	.registrat-information .participant-information h6 {font-size:16px; font-weight:700; line-height:1.2; color:#545454; padding-bottom:10px;}
		
	.registrat-information .participant-information table {border:1px solid #dfdfdf; border-collapse:collapse; margin:0; padding:0; width:100%; table-layout:fixed;}
	.registrat-information .participant-information table tr {border-bottom:1px solid #dfdfdf;}
	.registrat-information .participant-information table th, table td {padding:5px;}
	.registrat-information .participant-information table th {font-size:15px; font-weight:700; line-height:1; color:#FFFFFF; background-color:#5f5f5f; padding:15px 5px;}
	.registrat-information .participant-information table tr:nth-child(even) {background: #f7f7f7;}
	.registrat-information .participant-information table tr:nth-child(odd) {background: #FFF}
	.registrat-information .participant-information input[type="text"], .registrat-information .participant-information input[type="email"], .registrat-information .participant-information input[type="tel"] {margin:0; padding:10px; width:100%; height:auto; background-color:#FFFFFF; border:1px solid #dcdcdc; font-size:15px; font-weight:400; color:#414141;}
	
	.registrat-information .total-box {padding:0 20px 20px 20px; font-size:18px; font-weight:700; line-height:22px; color:#545454; text-transform:uppercase;}
	
	.submit-button {text-align:center;}
	.submit-button div {margin:15px auto; padding:10px 30px 10px 20px; width:230px; height:auto; background:#0078ae; border:none; border-radius:3px; font-weight:700; color:#FFFFFF; cursor:pointer;}
	
	.registration-box div.submissionstatus {margin:15px auto; padding:10px 30px 10px 20px; width:auto; height:auto; background:#0078ae; border:none; border-radius:3px; font-weight:700; color:#FFFFFF; }
    .svg-inline--fa{height:1em;}
    	
	.calendar-top {
        background-color:#0078ae;/*7fbdda, */ 
        border:2px solid #316076; border-bottom:none; min-height:42px; font-size:22px; font-weight:700; line-height:40px; color:#FFFFFF; text-transform:uppercase; text-align:center; position:relative;}
	.calendar-top .prev {position:absolute; left:0; top:0; width:40px; height:40px;cursor:pointer;}
	.calendar-top .next {position:absolute; right:0; top:0; width:40px; height:40px;cursor:pointer;}
	.calendar-top .prev i, .calendar-top .next{font-size:30px; }

	.calendar-bot table {margin:0; padding:0; width:100%; border:2px solid #316076; border-collapse:collapse;}
	.calendar-bot table th {margin:0; padding:.5em; 
                            background-color:#dcc283;/*ddcc28,bf9615,dcc283 */ 
                            border:2px solid #316076; border-collapse:collapse; font-size:14px; font-weight:700; line-height:1.2; color:#604f25; text-transform:uppercase; vertical-align:middle; text-align:center; width:14.28%;}
	.calendar-bot table td {margin:0; padding:.5em; background-color:#cdefff; border:2px solid #91b3c3; border-collapse:collapse; height:90px; vertical-align:top; text-align:left;}
    
    .calendar-bot table td.all-date {font-size:22px; font-weight:700; line-height:1.2; }
    
    .calendar-bot table td.today {background-color:#effaff; font-size:22px; font-weight:700; line-height:1.2; color:#c83800;}
    
    .calendar-bot table td.off-date {background-color:#effaff; font-size:22px; font-weight:700; line-height:1.2; color:#9ec6d8;}
	.calendar-bot table td.on-date {background-color:#cdefff; font-size:22px; font-weight:700; line-height:1.2; color:#101010;}
	.calendar-bot table td.on-date-sunday {background-color:#cdefff; font-size:22px; font-weight:700; line-height:1.2; color:#c83800;}
	.calendar-bot table td.event-date {background-color:#eee2bb; font-size:22px; font-weight:700; line-height:1.2; color:#bf9615;}
	.calendar-bot table td.event-date span {font-size:12px; font-weight:400; line-height:1.2; color:#222222; display:block;cursor:pointer;}
	.calendar-bot table td.event-date span:hover {text-decoration:underline; }


			
/* 	-----------------------------------------------------
	------------------- Footer Styles -------------------
	----------------------------------------------------- */
	.footer-section {height:630px; background:url(../images/footer-bg.jpg) repeat-x top;}
	.footer-section footer {height:630px; background:url(../images/footer.jpg) no-repeat top;}
	
	
	
@media only screen and (max-width:760px) {
	
	.msg-content .left-content {width:100%; float:none;}
	.msg-content .right-content {width:100%; float:none;}
	
	.regleft-content {width:100%; float:none;}
	.regright-content {width:100%; float:none;}
	
	.img-left {float:none; margin:10px 0;}
	.img-right {float:none; margin:10px 0;}
	.regleft-content .mid table td {display:block; padding:2px 0; width:100% !important;}
	
	.resp-tab-content {padding:10px !important;}
	.regright-content .white-box {padding:.5em;}
	
	.calendar-top {border:1px solid #316076; font-size:1em;}
	
	.calendar-bot table {border:1px solid #316076;}
	.calendar-bot table th {font-size:.4em; border:1px solid #316076;}
	.calendar-bot table td {height:60px; border:1px solid #316076;}
	.calendar-bot table td.off-date {font-size:.8em;}
	.calendar-bot table td.on-date {font-size:.8em;}
	.calendar-bot table td.on-date-sunday {font-size:.8em;}
	.calendar-bot table td.event-date {font-size:.8em;}
	.calendar-bot table td.event-date span {font-size:.4em;}
}

/*------------------------------*/


/*----------tab----------------*/

#horizontalTab ul {margin:0 20px;}
ul.resp-tabs-list {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	font-weight: 700;
	font-size: 15px;
	display: inline-block;
	padding: 5px 15px;
	margin: 0 1px -1px 1px !important;
	list-style: none;
	cursor: pointer;
	float: left;
	border: 1px solid #ccdbe2;
	background-color:#dcebf2;
	color:#526670;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fafafa;
	clear: left;
    border:1px solid #ededed;
    padding:10px 20px 10px 20px;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 10px 20px;
}
.resp-tab-active {
	border: 1px solid #0078ae;
	background-color:#0078ae !important;
	color:#FFFFFF !important;
}
.resp-tab-active {
	border-bottom: none;
	background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: 1px solid #ededed;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #ededed;
	border-top: 0px solid #ededed;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #ededed !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #ededed !important;
	background: blue;
}
/*------------------------*/


table.sponsor
{
    width:100%;
}

table.sponsor,
table.sponsor td{border-collapse :collapse ;border-spacing :0px;}

table.sponsor td{vertical-align:top; padding-top:20px; padding-bottom:20px;   border-bottom:1px solid #dddddd;}
table.sponsor td.logo{width:60px;}
table.sponsor td.content{padding-left:20px;  }

table.sponsor td div.sponsorname{}
table.sponsor td div.sponsorweb{}
table.sponsor td div.sponsordesc{}

div.directionhead{font-weight:bold;  }
div.directionlocation{margin-top:10px;  }
div.directionaddress{}
div.directiondate{ margin-top:20px;  }
div.directiontime{}


/*-----------------------------*/

/*----------------------------*/
div.addbutton
{
    display: block;
    height: 20px;
    border: none;
    padding: 5px 5px 20px 5px;
    outline: 0;
    text-transform: uppercase;
    vertical-align: middle;
    text-align:center ; 
    cursor: pointer;
    float:right ; 
    _min-width:50px;
    box-sizing :padding-box ; 
}
div.addbutton /*blue*/
{
    color:  #ffffff;
    background-color: #337ab7;
    border:1px solid #2e6da4;
}
div.addbutton:hover, div.addbutton:active {
    color: #FFFFFF;
    background: #286090;
    border:1px solid #122b40;
}
div.editbutton3, 
div.deletebutton3,
div.cancelbutton3,
div.updatebutton3
{
    display: block;
    vertical-align: middle;
    text-align:center ; 
    cursor: pointer;
    float:right ; 
    color:#A1A1A1;
}

div.editbutton3 i, 
div.deletebutton3 i, 
div.cancelbutton3 i, 
div.updatebutton3 i
{
    font-size:14px; 
}

div.editbutton3:hover
{
    color:  #337ab7;
}

div.deletebutton3:hover
{
    color:  #d9534f;
}

div.cancelbutton3:hover
{
    color:  #d9534f;
}

div.updatebutton3:hover
{
    color:  #d9534f;
}
/*------------------------------*/


/*----------confirmation page--------*/

table.tableconfirmation{
    width:100%;
}

table.tableconfirmation
{
    border-collapse:collapse ;
    border-spacing:0px;  
}

div.printreport{
    cursor:pointer ;
    border:1px solid #0078AE;
    padding:5px 5px 5px 5px;
    text-align:center ;
    vertical-align:middle ;
    background-color : #0078AE;
    color:#FFFFFF; 
}

div.printreport:hover
{
    background-color : #BF9615;
    border-color : #BF9615;
}

/*-----------------------------------*/
