html, body {
    min-width: 320px;
    width: 100%;
}

body {
    font-family: sans-serif,Helvetica Neue,Helvetica,Arial;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e8e8e8;
    margin: 0;
}



* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

    *:after, *:before {
        box-sizing: border-box;
    }


div.page
{
	margin:0 auto;
	padding:0px 0px 20px 0px;
    width:94%; 
	max-width:1200px;
	border :0px solid red;

	/*Following are for ext*/
    box-sizing:content-box !important;
    -webkit-box-sizing: content-box  !important;
    -moz-box-sizing: content-box !important;
    background-color:#f2f0ea; 
}

div.pageheader
{
    background-color :#5290c2;/*5290c2;0078AE;*C3A347*/  
    color:#ffffff; 
    font-weight:100;
    font-size:1.3em; 
    vertical-align:middle ; 
    _height:40px;
    padding :8px 10px 8px 10px;
     
}

table.table-pageheader
{
    width:100%;
}

table.table-pageheader,
table.table-pageheader td
{
    border-collapse:collapse;
    border-spacing:0px;
}

table.table-pageheader td.td-headermenu
{
    text-align :right;
}

ul.ul-headermenu
{
    list-style: none;
    list-style-type: none;

}

ul.ul-headermenu li
{
    float:right;
    font-size :13px; 
    margin-left:20px; 
}

ul.ul-headermenu li a
{
    display: block;
    color:#ffffff;
    text-decoration:none;  
}

ul.ul-headermenu li a:hover,
ul.ul-headermenu li a.selected
{
    text-decoration:underline;  
}

div.div-body
{
    margin:10px 0px 0px 0px; 
    padding:0px 10px 0px 10px;
}

div.content
{
    border:0px solid #D1D1D1;
    background-color:#FFFFFF;
    padding:10px 10px 10px 10px;  
    min-height:600px; 
     
}

table.table-header,
table.table-footer
{
    width:100%;
     
}

table.table-header,
table.table-footer,
table.table-social, 
table.table-header td,
table.table-footer td,
table.table-social td
{
    border-collapse:collapse ; 
    border-spacing :0px;
}

table.table-header
{
    background-color: #ffffff;
     
}

table.table-header td.td-logo
{
    _padding:10px 0px 10px 0px;
}

table.table-header td
{
    border:0px solid red;
    vertical-align:top ; 
}
table.table-header td.td-logo img
{
    _height:80px;
}

table.table-header td.td-welcome
{
    text-align:center ;
    vertical-align:middle ; 
    height:40px;
    background-color :#5290c2;/*5290c2;0078AE;*C3A347*/  
    color:#ffffff; 
}

.footer
{
	margin:0 auto;
	padding:20px 0px 60px 0px;
	width:959px;
	border :0px solid red;

    color: #4e5766;
    text-align: center;
    line-height: normal;
}


table.tablesocial td
{
    padding:0px 1px 0px 0px;
}

table.table-footer td.h_text {
	COLOR: #666666; 
	FONT-SIZE: 10px;
	text-align:center ; 
}


/*------------------User Hove Menu-------*/
        .userhovermenu
        {
            color: #515151;
            _width: 200px;
            position: relative;
            display:inline ; 
            height: 30px;
            text-align: right ;
            width: 302px;
            margin: 0 auto;
            float:right; 
            vertical-align :middle ;
            border:solid 0px blue;
            text-align :right ;
        }
        
        .userhovermenu li a
        {
            color: #fff;
            display: block;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            _font-size: 11px;
            text-decoration: none;
            border :0px solid #aaa;
            border-top:1px solid #ffffff; 
        }
        .userhovermenu li a:hover
        {
            background:#ADA76B;/*D49B4D, #f44141;*/
            color: #fff;
        }
        .userhovermenusub
        {
            background: #0079AE;/*936B24, #990100*/
            position: absolute;
            right:0px;
            z-index: 2;
            width: 300px;
            padding: 40px 0px 0px 0px;
            border: 1px solid #aaa;
            display: none;
            text-align :left;
        }
        a.userhover-link
        {
            width: 190px;
            background: transparent;
            _font-size: 12px;
            color: #5290c2;
            position: absolute;
            z-index: 110;
            display: block;
            padding: 10px 0px 10px 10px;
            height: 15px;
            cursor: pointer;
            font-weight: bold;
            border: 0px solid #ddd;
            vertical-align :middle ;
            _float :right ;
        }
        .userhovermenu:hover a.userhover-link,
        a.userhover-link:hover
        {
            _background-color :#ADA76B;/* #D49B4D;red:ed5650*/
            color:#fff;
            _cursor:default ; 
        }
        
        
        .userhovermenusub-options
        {
            list-style: none;
            margin: 0px;
            padding: 0px;
            _font-size: 11px;
        }


/*-----------------------------------------*/

.hidden {
  display:none
}

div.updatestatus
{
    margin-top:2px;
    _padding:7px 0px 5px 5px;
    padding:7px 5px 5px 5px;
    font-size:11px; 
    text-transform:uppercase ; 
}

div.updatestatus-message
{
    _float:left; 
    _padding-top:0px; 
    _padding-bottom:5px; 
    _height:inherit ; 
}

div.updatestatus-close
{
    float:right; 
}

div.updatestatus i
{
    cursor:pointer ; 
}

div.updatestatus.success
{
    color:#ffffff;
    background-color:#57cc82;/*green:57cc82; oragne:e8910d, red:ed5650*/
}

div.updatestatus.error
{
    color:#ffffff;
    background-color:#ed5650;/*green:57cc82; oragne:e8910d, red:ed5650*/
}


/*-------------modal related-------------------*/

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.ic-fade .modal-dialog {
        transform: translate3d(0,-25%,0);
        transition: transform .3s ease-out;
    }

    .modal.in.modal-dialog {
        transform: translate3d(0,0,0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.ic-fade {
        opacity: 0;
    }

    .modal-backdrop.in {
        opacity: .5;
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .ic-btn + .ic-btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .modal-footer .ic-btn-group .ic-btn + .ic-btn {
        margin-left: -1px;
    }

    .modal-footer .ic-btn-block + .ic-btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media(min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media(min-width:992px) {
    .modal-lg {
        width: 900px;
    }
}

/*---------------------------------*/


div.applybutton {
    display: block;
    _height: 20px;
    border: none;
    padding: 1px 5px 1px 5px;
    outline: 0;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    _float: right;
    _min-width: 50px;
    box-sizing: padding-box;
}

div.applybutton /*blue*/ {
    color: #ffffff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
}

    div.applybutton:hover, div.applybutton:active {
        color: #FFFFFF;
        background: #286090;
        border: 1px solid #286090;
    }

table.table-login
{
    width:100%;
}
    table.table-login td {
        padding: 5px 5px 5px 5px;
    }

.show-hide{
    color:#ffffff;
    margin-right:10px;
    cursor:pointer ; 
}
.show-hide i{
    font-size: 20px;
}
.right
{
    float:right;
}