/*----------tab----------------*/

#horizontalTab ul {margin:0 20px;}
ul.resp-tabs-list {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	font-weight: 700;
	font-size: 1em;
	display: inline-block;
	padding: 5px 15px;
	margin: 0px 0px -1px 0px !important;
	list-style: none;
	cursor: pointer;
	float: left;
    border-left-color :#ffffff;/*dcebf2*/
    border-right-color :#ffffff;/*dcebf2*/
    border-top-color :#ffffff;/*dcebf2*/
    border-bottom-color :#ffffff;/*dcebf2*/
    border-style :solid ;
	border-left-width : 1px;
	border-right-width : 1px;
	border-top-width : 3px;
	border-bottom-width : 0px;
	
    background-color:#ffffff;/*dcebf2*/
	color:#526670;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fafafa;
	clear: left;
    border: 1px solid #ededed;
    padding: 10px 20px 10px 20px;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 10px 20px;
}
li.resp-tab-active,
.resp-tabs-list li:hover
{
	border-top-color : #0078ae;
	border-left-color : #ededed;
	border-right-color : #ededed;
	_border: 1px solid #0078ae;
	_background-color:#3a546d !important;/*0078ae,3a546d*/
	_color:#FFFFFF !important;
    background-color:#fafafa; 
}
.resp-tab-active {
	_border-bottom: none;
	_background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
.resp-tab-content {
	border: 1px solid #ededed;
}
h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #ededed;
	border-top: 0px solid #ededed;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #ededed !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #ededed !important;
	background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}
.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #ededed;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: 1px solid #ededed;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #ededed;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}

/*------------------------*/
